* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.account-main {
    display: none;
    font-family: 'Poppins', sans-serif;
}

.profile-info {
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
    padding: 10px;
    margin-top: 10px;
}

.profile-info h1 {
    font-size: 25px;
    font-weight: 500;
    color: #0050a2;
}

.profile-name {
    width: 100%;
    /* border: 1px solid red; */
}

.tik-icon {
    font-size: 20px;
}

.profile-info input {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    border-bottom: 2px solid #d4d4d4;
    text-align: center;
}

.profile-info img {
    width: 100px;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #61b847;
}

.order-main {
    width: 100%;
    /* border: 1px solid red; */
}

.order-main h2 {
    font-size: 18px;
    color: #0050a2;
    font-weight: 500;
    margin-left: 10px;
}

.order-pending {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #d4d4d4;
}

.pending-left {
    width: 100%;
    padding: 20px;
}

.pending-left h1 {
    font-size: 20px;
    font-weight: 500;
}

.pending-left h4 {
    font-size: 13px;
    font-weight: 500;
}

.pending-left p {
    color: #d4d4d4;
    font-size: 15px;
    font-weight: 500;
}

.pending-left h3 {
    font-size: 18px;
    font: 1600px;
}

.pending-right {
    width: 50%;
    padding: 0px;
}

.pending-right p {
    font-size: 18px;
    margin-bottom: 50px;
}

.pending-right h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}


.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    padding: 20px;
}

@media only screen and (max-width: 425px) {
    .account-main {
        display: block;
    }

    .screen {
        display: none;
    }
}

@media only screen and (max-width: 390px) {
    .account-main {
        display: none;
    }

    .screen {
        display: block;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: red;
        padding: 20px;
    }
}